<h2>Gems</h2>

<input type="submit" {{action 'sellAll'}} value="Sell All" />

<table>
	<thead><tr>
		<th>Sell</th>
		<th>Name</th>
		<th>Type</th>
		<th>Value</th>
		<th>Quantity</th>
		<th>Total</th>
	</tr></thead>
	<tbody>
		{{#if model}}
			{{#each}}
			<tr>
				<td>Sell</td>
				<td>{{name}}</td>
				<td>{{category}}</td>
				<td>{{value}}</td>
				<td>1</td>
				<td>1</td>
			</tr>
			{{/each}}
		{{else}}
			<tr>
				<td colspan=6>No gems!</td>
			</tr>
		{{/if}}
	</tbody>
</table>
