<h2>Settings</h2>

<label>Money</label> {{input value=money}}
<label>Miners</label> {{input value=miners}}

<label>Monthly Upkeep</label>
{{input value=costPerMiner}} per Miner + {{input value=upkeepFlatRate }}

<br />

<label>% Chance to Find Gem</label> 
{{input value=chanceToFindGem }}

<br />

<input  type="submit" {{action 'save'}}/>
